<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514177238826-kibasckns4qg6kft9dlkqkirhso0cqj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514177238826-kibasckns4qg6kft9dlkqkirhso0cqj7</string>
	<key>API_KEY</key>
	<string>AIzaSyA9v_YBI6XzmI_wG73JfuZaohwR_56D4Kg</string>
	<key>GCM_SENDER_ID</key>
	<string>514177238826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.longtmesa.HowToEducate</string>
	<key>PROJECT_ID</key>
	<string>howtoeducate-ba7a4</string>
	<key>STORAGE_BUCKET</key>
	<string>howtoeducate-ba7a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514177238826:ios:3326296d4c758852e68053</string>
	<key>DATABASE_URL</key>
	<string>https://howtoeducate-ba7a4.firebaseio.com</string>
</dict>
</plist>